{% extends "base.html" %}


{% block content %}
    <!-- 微博内容 -->
{% for wb in wb_list %}
<div class="alert alert-info" role="alert">
  <strong>{{ wb.author.nickname }}</strong>说:
  <br />
  {{ wb.content | replace('\n', '<br />') | safe }}
  <br />
  <a class="text-secondary" href="/weibo/read?wid={{ wb.id }}">{{ wb.updated }}</a>
</div>
<hr />
{% endfor %}

<nav aria-label="Page navigation">
    {% if page > 1 %}
    <a class="page-link" href="/weibo/index?page={{ page-1 }}"> << </a>
    {% endif %}
    {% for pg in pages %}
        <!-- 当前页不需要链接 -->
        {% if pg == page %}
        <a class="page-link text-secondary">{{ pg }}</a>
        {% else %}
        <a class="page-link" href="/weibo/index?page={{ pg }}">{{ pg }}</a>
        {% endif %}
    {% endfor %}
    {% if page < max_page %}
    <a class="page-link" href="/weibo/index?page={{ page + 1 }}"> >> </a>
    {% endif %}
</nav>
    <br>
    <br>
    <br>
{% endblock %}